body 
{
    background-color: cyan;
}

h1
{
    align-content:center ;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: black;
    margin-left: 128px;
}

#score 
{
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 40px;
    float: left;
}

#timer
{
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-right: 40px;
    float: right;
}

#label
{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#confidence
{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#sktd 
{
    font-weight: bolder;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

#show_sketch
{
    float: right;
    margin-right: 20px;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }
